<div class="chat">
    <div class="chat-container">
        <div class="messages">
            <div class="bot-message">  
                <p>robot message bottom</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! aatest</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message"> 
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="bot-message">
                <p>robot message 1</p>
            </div>
            <div class="user-message">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="bot-message">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="user-message">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="bot-message">
                <p>top Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
        </div>
        <div class="user-input">
            <form>
                <mat-form-field class="input-container">
                    <mat-label>Chat with me here</mat-label>
                    <input type="text" matInput
                        fromControlName="txtQuery">
                </mat-form-field>
                <button mat-raised-button color="primary" class="user-btn">Send</button>
            </form>
        </div> 
    </div>
</div>


<!-- <li *ngFor="let msg of chatHistory">
    {{msg.type}} {{msg.message}}
</li> -->
