$shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

.chat {
    width: 100%;
    height: 100%;
    .response {
        position: fixed;
        top: 4rem;
        bottom: 8rem;
        display: flex;
        flex-direction: column;
        min-width: 30rem;
        box-shadow: $shadow;
        .messages {
            flex: 1;
            display: flex;
            flex-direction: column-reverse; //default scroll to the bottom
            overflow-y: scroll;
            overflow-x: hidden;   //hide bottom scroll bar
            padding: 1rem 1.5rem;
            .bot-message {
                position: relative;
                display: flex;
                align-items: center;
                p {
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                    background-color: var(--primary);
                    color: var(--txt-light);
                    border-radius: 4px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: -15px;
                    bottom: 1em;
                    border: 0 solid transparent;
                    border-top: 9px solid var(--primary);
                    border-radius: 0 20px 0;
                    width: 15px;
                    height: 30px;
                    transform: rotate(145deg);
                }                
            }
            .user-message {
                position: relative;
                display: flex;
                align-items: center;                
                align-self: flex-end;
                p {
                    border-radius: 0.25rem;
                    padding: 0.5rem;
                    background-color: var(--secondary);
                    text-align: right;
                    color: var(--txt-light);
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: -15px;
                    bottom: 1em;
                    border: 0 solid transparent;
                    border-top: 9px solid var(--secondary);
                    border-radius: 0 20px 0;
                    width: 15px;
                    height: 30px;
                    transform: rotate(45deg) scaleY(-1);
                }
            }
        }
    }
}






// .overall{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     .response{
//         flex: 100;
//         display: flex;
//         flex-direction: column;
//         overflow-y: scroll;
//     }
//     .request{
//         flex: 1;
//     }
// }