<div class="chat">
    <div class="response">
        <div class="messages">
            <div class="message agent">
                <p>robot message bottom</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input"> 
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
            <div class="message agent">
                <p>robot message 1</p>
            </div>
            <div class="message input">
                <p>omg the world is burning!!! send halpppp!!</p>
            </div>
            <div class="message agent">
                <p>Not to worry. What kind of help are you looking for?</p>
            </div>
            <div class="message input">
                <p>THE KIND THAT WILL STOP ME FROM DYING???</p>
            </div>
            <div class="message agent">
                <p>top Sure thing, we can definitely help with that. Where should we send aforementioned help?</p>
            </div>
        </div>
    </div>
</div>


<!-- <li *ngFor="let msg of chatHistory">
    {{msg.type}} {{msg.message}}
</li> -->

<!-- <div class="overall">
    <div class="response">
        <div class="item">item1</div>
        <div class="item">item2</div>
        <div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">item1</div>
        <div class="item">item2</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div><div class="item">itemaa</div>
        <div class="item">itembb</div>
    </div>
    <div class="request">
        <form>
            <mat-form-field>
                <mat-label>Chat with me here</mat-label>
                <input type="text" matInput
                    fromControlName="txtQuery">
            </mat-form-field>
            <button mat-raised-button color="primary">Send</button>
        </form>
    </div>    
</div> -->